In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

ds=pd.read_csv('general_data.csv')

In [28]:
from sklearn import preprocessing
Label_encoder=preprocessing.LabelBinarizer()
ds['Attrition']=Label_encoder.fit_transform(ds['Attrition'])

In [21]:
ds.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

# Wilcoxon Test

In [72]:
from scipy.stats import wilcoxon
stats,p=wilcoxon(ds.JobLevel,ds.Education)
print(stats,p)

1146648.0 8.724635739045322e-236

In [73]:
8.724635739045322e-2

0.08724635739045322

stats is 1146648 p value is 0.08 ,p>0.05 ,H0 is accepted and H1 is rejected

In [15]:
ds1=ds.dropna()

In [17]:
ds

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,0,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,1,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,0,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,0,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,0,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,1.0,Y,13,8,1,6.0,2,6,1,5
10,45,0,Travel_Rarely,Research & Development,17,2,Medical,1,11,Male,...,0.0,Y,13,8,2,21.0,2,20,4,10
11,36,0,Travel_Rarely,Research & Development,28,1,Life Sciences,1,12,Male,...,0.0,Y,12,8,2,16.0,2,15,10,11
12,55,0,Travel_Rarely,Research & Development,14,4,Life Sciences,1,13,Female,...,0.0,Y,17,8,0,37.0,2,36,4,13
13,47,1,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
14,28,0,Travel_Rarely,Research & Development,1,3,Life Sciences,1,15,Male,...,1.0,Y,14,8,0,5.0,2,5,0,4
15,37,0,Travel_Rarely,Research & Development,1,3,Life Sciences,1,16,Male,...,4.0,Y,11,8,0,7.0,2,5,0,1
16,21,0,Travel_Rarely,Research & Development,3,2,Life Sciences,1,17,Male,...,1.0,Y,12,8,3,3.0,3,3,1,0
17,37,0,Non-Travel,Research & Development,1,3,Medical,1,18,Male,...,2.0,Y,13,8,1,15.0,2,5,0,2
18,35,0,Travel_Rarely,Sales,7,4,Life Sciences,1,19,Male,...,7.0,Y,16,8,0,10.0,5,7,6,2
19,38,0,Travel_Rarely,Research & Development,8,3,Life Sciences,1,20,Female,...,1.0,Y,11,8,1,8.0,5,8,7,7
20,26,0,Travel_Frequently,Research & Development,1,4,Other,1,21,Male,...,1.0,Y,18,8,0,6.0,3,6,1,4
21,50,0,Travel_Rarely,Sales,8,4,Life Sciences,1,22,Male,...,3.0,Y,23,8,0,28.0,2,10,1,6
22,53,0,Travel_Rarely,Research & Development,11,4,Life Sciences,1,23,Female,...,3.0,Y,11,8,0,21.0,2,5,1,3
23,42,0,Travel_Rarely,Research & Development,4,4,Life Sciences,1,24,Male,...,1.0,Y,14,8,0,NaN,4,20,11,6
24,29,0,Travel_Frequently,Research & Development,16,4,Medical,1,25,Male,...,1.0,Y,11,8,1,10.0,2,10,0,9
25,55,0,Travel_Rarely,Research & Development,1,4,Other,1,26,Female,...,3.0,Y,11,8,0,12.0,2,10,0,8
26,26,0,Travel_Frequently,Research & Development,9,3,Life Sciences,1,27,Female,...,1.0,Y,22,8,0,5.0,3,5,3,3
27,37,0,Travel_Rarely,Sales,5,1,Marketing,1,28,Male,...,1.0,Y,11,8,0,17.0,2,17,5,7
28,44,1,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
29,38,0,Travel_Rarely,Sales,2,3,Marketing,1,30,Female,...,9.0,Y,12,8,0,10.0,3,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4380,35,0,Travel_Frequently,Research & Development,19,3,Life Sciences,1,4381,Female,...,1.0,Y,13,8,0,10.0,6,10,0,8
4381,29,1,Travel_Rarely,Research & Development,7,1,Life Sciences,1,4382,Female,...,1.0,Y,21,8,0,4.0,2,4,0,1
4382,52,0,Travel_Rarely,Research & Development,1,2,Medical,1,4383,Female,...,7.0,Y,14,8,0,6.0,5,2,2,2
4383,42,0,Travel_Rarely,Research & Development,7,4,Life Sciences,1,4384,Female,...,1.0,Y,11,8,2,22.0,2,22,11,15
4384,59,0,Travel_Rarely,Research & Development,4,4,Technical Degree,1,4385,Male,...,8.0,Y,11,8,0,7.0,3,2,2,2
4385,50,0,Travel_Rarely,Research & Development,11,2,Life Sciences,1,4386,Male,...,3.0,Y,23,8,1,32.0,2,7,0,6
4386,33,1,Travel_Rarely,Sales,11,4,Marketing,1,4387,Male,...,5.0,Y,21,8,0,8.0,2,5,0,4
4387,43,0,Travel_Rarely,Sales,1,3,Marketing,1,4388,Female,...,5.0,Y,24,8,0,22.0,3,17,1,9
4388,33,1,Travel_Rarely,Sales,1,3,Life Sciences,1,4389,Male,...,7.0,Y,11,8,0,13.0,2,9,1,7
4389,52,0,Non-Travel,Research & Development,2,3,Technical Degree,1,4390,Male,...,1.0,Y,14,8,0,33.0,3,33,15,12
4390,32,0,Travel_Rarely,Human Resources,13,4,Life Sciences,1,4391,Female,...,2.0,Y,16,8,1,6.0,2,4,1,2
4391,32,1,Travel_Rarely,Sales,23,1,Life Sciences,1,4392,Male,...,0.0,Y,11,8,0,4.0,2,3,1,2
4392,39,0,Travel_Rarely,Sales,26,4,Life Sciences,1,4393,Male,...,7.0,Y,12,8,1,7.0,2,3,1,2
4393,32,0,Non-Travel,Sales,2,4,Marketing,1,4394,Male,...,0.0,Y,13,8,1,4.0,3,3,2,2
4394,41,0,Travel_Rarely,Sales,29,3,Life Sciences,1,4395,Female,...,2.0,Y,15,8,0,17.0,3,1,0,0
4395,40,0,Travel_Rarely,Research & Development,2,3,Life Sciences,1,4396,Male,...,NaN,Y,14,8,1,9.0,4,9,4,7
4396,45,0,Travel_Rarely,Research & Development,18,1,Life Sciences,1,4397,Female,...,0.0,Y,14,8,0,25.0,4,24,1,7
4397,31,0,Travel_Frequently,Research & Development,7,4,Medical,1,4398,Male,...,9.0,Y,14,8,1,9.0,3,2,2,2
4398,33,0,Travel_Rarely,Research & Development,2,4,Life Sciences,1,4399,Female,...,1.0,Y,12,8,1,2.0,2,2,0,2
4399,34,0,Travel_Rarely,Research & Development,26,3,Other,1,4400,Female,...,6.0,Y,13,8,0,13.0,3,11,5,9
4400,37,0,Travel_Rarely,Research & Development,22,5,Medical,1,4401,Female,...,2.0,Y,14,8,3,17.0,3,3,0,2
4401,45,0,Travel_Frequently,Sales,21,1,Marketing,1,4402,Male,...,4.0,Y,13,8,0,9.0,3,3,0,2
4402,37,1,Travel_Frequently,Sales,2,3,Marketing,1,4403,Male,...,6.0,Y,11,8,1,17.0,2,1,0,0
4403,39,0,Travel_Frequently,Research & Development,22,3,Medical,1,4404,Female,...,0.0,Y,19,8,1,20.0,2,19,11,8
4404,29,0,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [76]:
from scipy.stats import friedmanchisquare
stats,p=friedmanchisquare(ds.StandardHours,ds.StockOptionLevel,ds.TotalWorkingYears)
print(stats,p)

6482.700505843364 0.0

# Mannwhiteneyu Test

Mannwhiteneyu Test is to compare between 2 independent samples.

In [33]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(ds.DistanceFromHome,ds.Education)
print(stats,p)

5503365.0 2.371790832392393e-279

In [34]:
2.371790832392393e-02

0.02371790832392393

R_value is 550336 and P_value is 0.023

0.023<0.05 so null value is Rejected and Alternate value is accepted.

H0- There is no significant difference distance from and education

In [52]:
from scipy.stats import ttest_1samp
stats,p=ttest_1samp(ds.JobLevel,76)
print(stats,p)

-4436.597683853069 0.0

# Two Sample Paired T-test

In [54]:
from scipy.stats import ttest_rel
stats,p=ttest_rel(ds.JobLevel,ds.Education)
print(stats,p)

-38.27670663139589 4.972071747597808e-277

In [55]:
4.972071747597808e-2

0.04972071747597808

r_value is -38.27 which is negative correlation and P_value is 0.04 <0.05 so H0 is rejected

In [81]:
from sklearn import preprocessing
Label_encoder=preprocessing.LabelEncoder()
ds['Gender']=Label_encoder.fit_transform(ds['Gender'])
ds['MaritalStatus']=Label_encoder.fit_transform(ds['MaritalStatus'])

In [83]:
ds.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

# Chi square Test

In [86]:
from scipy.stats import chi2_contingency


chitable = pd.crosstab(ds.Gender, ds.MaritalStatus)
stats, p, dof, expected = chi2_contingency(chitable)
print(stats,p)

6.428867202141822 0.04017808420398627

  stats value is 6.42 ,p value is 0.04 , p<0.05 so H0 is rejected and H1 is accepted

In [88]:
ds

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,0,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,0,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,1,Travel_Rarely,Research & Development,11,2,Medical,1,7,1,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,0,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,1,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,0,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,1,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,0,Non-Travel,Research & Development,7,4,Medical,1,10,0,...,1.0,Y,13,8,1,6.0,2,6,1,5
10,45,0,Travel_Rarely,Research & Development,17,2,Medical,1,11,1,...,0.0,Y,13,8,2,21.0,2,20,4,10
11,36,0,Travel_Rarely,Research & Development,28,1,Life Sciences,1,12,1,...,0.0,Y,12,8,2,16.0,2,15,10,11
12,55,0,Travel_Rarely,Research & Development,14,4,Life Sciences,1,13,0,...,0.0,Y,17,8,0,37.0,2,36,4,13
13,47,1,Non-Travel,Research & Development,1,1,Medical,1,14,1,...,1.0,Y,11,8,2,10.0,4,10,9,9
14,28,0,Travel_Rarely,Research & Development,1,3,Life Sciences,1,15,1,...,1.0,Y,14,8,0,5.0,2,5,0,4
15,37,0,Travel_Rarely,Research & Development,1,3,Life Sciences,1,16,1,...,4.0,Y,11,8,0,7.0,2,5,0,1
16,21,0,Travel_Rarely,Research & Development,3,2,Life Sciences,1,17,1,...,1.0,Y,12,8,3,3.0,3,3,1,0
17,37,0,Non-Travel,Research & Development,1,3,Medical,1,18,1,...,2.0,Y,13,8,1,15.0,2,5,0,2
18,35,0,Travel_Rarely,Sales,7,4,Life Sciences,1,19,1,...,7.0,Y,16,8,0,10.0,5,7,6,2
19,38,0,Travel_Rarely,Research & Development,8,3,Life Sciences,1,20,0,...,1.0,Y,11,8,1,8.0,5,8,7,7
20,26,0,Travel_Frequently,Research & Development,1,4,Other,1,21,1,...,1.0,Y,18,8,0,6.0,3,6,1,4
21,50,0,Travel_Rarely,Sales,8,4,Life Sciences,1,22,1,...,3.0,Y,23,8,0,28.0,2,10,1,6
22,53,0,Travel_Rarely,Research & Development,11,4,Life Sciences,1,23,0,...,3.0,Y,11,8,0,21.0,2,5,1,3
23,42,0,Travel_Rarely,Research & Development,4,4,Life Sciences,1,24,1,...,1.0,Y,14,8,0,NaN,4,20,11,6
24,29,0,Travel_Frequently,Research & Development,16,4,Medical,1,25,1,...,1.0,Y,11,8,1,10.0,2,10,0,9
25,55,0,Travel_Rarely,Research & Development,1,4,Other,1,26,0,...,3.0,Y,11,8,0,12.0,2,10,0,8
26,26,0,Travel_Frequently,Research & Development,9,3,Life Sciences,1,27,0,...,1.0,Y,22,8,0,5.0,3,5,3,3
27,37,0,Travel_Rarely,Sales,5,1,Marketing,1,28,1,...,1.0,Y,11,8,0,17.0,2,17,5,7
28,44,1,Travel_Frequently,Research & Development,1,2,Medical,1,29,1,...,3.0,Y,14,8,1,19.0,2,1,0,0
29,38,0,Travel_Rarely,Sales,2,3,Marketing,1,30,0,...,9.0,Y,12,8,0,10.0,3,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4380,35,0,Travel_Frequently,Research & Development,19,3,Life Sciences,1,4381,0,...,1.0,Y,13,8,0,10.0,6,10,0,8
4381,29,1,Travel_Rarely,Research & Development,7,1,Life Sciences,1,4382,0,...,1.0,Y,21,8,0,4.0,2,4,0,1
4382,52,0,Travel_Rarely,Research & Development,1,2,Medical,1,4383,0,...,7.0,Y,14,8,0,6.0,5,2,2,2
4383,42,0,Travel_Rarely,Research & Development,7,4,Life Sciences,1,4384,0,...,1.0,Y,11,8,2,22.0,2,22,11,15
4384,59,0,Travel_Rarely,Research & Development,4,4,Technical Degree,1,4385,1,...,8.0,Y,11,8,0,7.0,3,2,2,2
4385,50,0,Travel_Rarely,Research & Development,11,2,Life Sciences,1,4386,1,...,3.0,Y,23,8,1,32.0,2,7,0,6
4386,33,1,Travel_Rarely,Sales,11,4,Marketing,1,4387,1,...,5.0,Y,21,8,0,8.0,2,5,0,4
4387,43,0,Travel_Rarely,Sales,1,3,Marketing,1,4388,0,...,5.0,Y,24,8,0,22.0,3,17,1,9
4388,33,1,Travel_Rarely,Sales,1,3,Life Sciences,1,4389,1,...,7.0,Y,11,8,0,13.0,2,9,1,7
4389,52,0,Non-Travel,Research & Development,2,3,Technical Degree,1,4390,1,...,1.0,Y,14,8,0,33.0,3,33,15,12
4390,32,0,Travel_Rarely,Human Resources,13,4,Life Sciences,1,4391,0,...,2.0,Y,16,8,1,6.0,2,4,1,2
4391,32,1,Travel_Rarely,Sales,23,1,Life Sciences,1,4392,1,...,0.0,Y,11,8,0,4.0,2,3,1,2
4392,39,0,Travel_Rarely,Sales,26,4,Life Sciences,1,4393,1,...,7.0,Y,12,8,1,7.0,2,3,1,2
4393,32,0,Non-Travel,Sales,2,4,Marketing,1,4394,1,...,0.0,Y,13,8,1,4.0,3,3,2,2
4394,41,0,Travel_Rarely,Sales,29,3,Life Sciences,1,4395,0,...,2.0,Y,15,8,0,17.0,3,1,0,0
4395,40,0,Travel_Rarely,Research & Development,2,3,Life Sciences,1,4396,1,...,NaN,Y,14,8,1,9.0,4,9,4,7
4396,45,0,Travel_Rarely,Research & Development,18,1,Life Sciences,1,4397,0,...,0.0,Y,14,8,0,25.0,4,24,1,7
4397,31,0,Travel_Frequently,Research & Development,7,4,Medical,1,4398,1,...,9.0,Y,14,8,1,9.0,3,2,2,2
4398,33,0,Travel_Rarely,Research & Development,2,4,Life Sciences,1,4399,0,...,1.0,Y,12,8,1,2.0,2,2,0,2
4399,34,0,Travel_Rarely,Research & Development,26,3,Other,1,4400,0,...,6.0,Y,13,8,0,13.0,3,11,5,9
4400,37,0,Travel_Rarely,Research & Development,22,5,Medical,1,4401,0,...,2.0,Y,14,8,3,17.0,3,3,0,2
4401,45,0,Travel_Frequently,Sales,21,1,Marketing,1,4402,1,...,4.0,Y,13,8,0,9.0,3,3,0,2
4402,37,1,Travel_Frequently,Sales,2,3,Marketing,1,4403,1,...,6.0,Y,11,8,1,17.0,2,1,0,0
4403,39,0,Travel_Frequently,Research & Development,22,3,Medical,1,4404,0,...,0.0,Y,19,8,1,20.0,2,19,11,8
4404,29,0,Travel_Rarely,Sales,4,3,Other,1,4405,0,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,0,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,1,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,1,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,1,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,Travel_Rarely,Research & Development,28,3,Medical,1,4410,1,...,0.0,Y,12,8,0,NaN,6,21,3,9

# Kruskal Test

In [97]:
from scipy.stats import kruskal
stats,p=kruskal(ds.YearsSinceLastPromotion,ds.StockOptionLevel,ds.PercentSalaryHike)
print(stats,p)

8977.05276652898 0.0

It is normally distributed.